- title "Account Settings"

= content_for :header_bottom do
  = javascript_include_tag 'sidebar_menu'

%h1 Account Settings
%nav
  %ul#sidebar
    %li
      = link_to "Public Profile", edit_user_registration_path(:anchor => "public_profile"),
        :"data-id" => "public_profile"
    %li
      = link_to "Account Admin", edit_user_registration_path(:anchor => "account_admin"),
        :"data-id" => "account_admin"

%section#bucket
  = render :partial => "public_profile"
  = render :partial => "account_admin"
