- title("#{@user.username}'s profile")

= content_for :header_bottom do
  = stylesheet_link_tag 'jquery-ui', 'jquery.ui.datetime'
  = javascript_include_tag  %w(jquery-ui jquery.ui.datetime.min)

%section#user-profile
  .photo
    = image_tag @user.avatar_url(170)
  #user-info
    %h1= @user.full_name
    %p= @user.about_me

    %h2 Skills and Interests
    %p= @user.skills

    %h2 Available Times
    %p
      = @user.availability
      %br
      = @user.time_zone

    %h2 Websites
    %p
      - if @user.website
        %span= "Website: "
        = @user.website
      %br
      - if @user.twitter_id
        %span= "Twitter: "
        = @user.twitter_id
      %br
      - if @user.github_id
        %span= "Github: "
        = @user.github_id

    - if @pair_request
      =render :partial => "pair_requests/form"
