- title("#{@user.username}'s profile")

%secsion#user-profile
  .photo
    = image_tag avatar_url(@user.email, 170)
  #user-info
    %h1= edit_in_place @user, :full_name
    %p=raw edit_in_place @user, :about_me, :type => :textarea, :sanitize => false

    %h2 Skills and Interests
    %p=raw edit_in_place @user, :skills, :type => :textarea, :sanitize => false

    %h2 Available Times
    %p
      = edit_in_place @user, :availability
      %br
      = edit_in_place @user, :time_zone

    %h2 Websites
    %p
      = edit_in_place @user, :website
      %br
      = edit_in_place @user, :twitter_id
      %br
      = edit_in_place @user, :github_id

