- title("#{@user.username}'s profile")

%secsion#user-profile
  .photo
    = image_tag avatar_url(@user.email, 170)
  #user-info
    %h1= best_in_place @user, :full_name
    %p= best_in_place @user, :about, :type => :textarea, :nil => 'Click to edit about!'

    %h2 Skills and Interests
    .skills
      =raw topic_tags('Ruby, Agile, TDD, RSpec, Clean Code, BDD, Algorithm, Metaprogramming, DSL')

    %h2 Available Times
    %p= best_in_place @user, :availability, :nil => 'Click to edit availability!'

