- title "Log in"

%section#login.form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %h2= yield(:title)

    %div.form-body
      %p
        = f.label :login
        %br/
        = f.text_field :login
      %p
        = f.label :password
        %br/
        = f.password_field :password
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remember_me
      %p= f.submit "Log in"
