%h2 Pair with Me?
= form_for @pair_request do |f|
  = f.hidden_field :partner_id
  %p
    = f.text_field :subject
    = f.label :subject
  %p
    = f.text_field :pair_date, :class => 'datetime' 
    = f.label :pair_date, 'Date and Time'
  %p
    = f.text_area :description
  %p= f.submit "Submit your request"
