= render "header"

%h1 My Schedules

%nav
  %ul#sidebar
    %li
      = link_to "Receive From", my_schedules_path(:anchor => "receive_from"),
        :"data-id" => "receive_from"
    %li
      = link_to "Request To", my_schedules_path(:anchor => "request_to"),
        :"data-id" => "request_to" 
    %li
      = link_to "Pair Sessions", my_schedules_path(:anchor => "pair_sessions"),
        :"data-id" => "pair_sessions"

%section#bucket
  #receive_from.bucket
    = render :partial => "pair", :collection => @receive_from, :as => :pair
  #request_to.bucket
    = render :partial => "pair", :collection => @request_to, :as => :pair
  #pair_sessions.bucket
    = render :partial => "pair", :collection => @pair_sessions, :as => :pair
