- title 'My Schedules'

= content_for :header_bottom do
  = javascript_include_tag 'sidebar_menu'
  :javascript
    $(function(){
      
      // Toggle description
      $('.header').click(function(e){
        $(e.target).siblings('.description').slideToggle();
      }); 

      // Collapse all descriptions
      $('.pair .description').each(function(){
        $(this).slideToggle();
      }); 
      
      SidebarMenu.register('sidebar');
    });

%h1 My Schedules

%nav
  %ul#sidebar
    %li
      = link_to "Receive From", my_schedules_path(:anchor => "receive_from"),
        :"data-id" => "receive_from"
    %li
      = link_to "Request To", my_schedules_path(:anchor => "request_to"),
        :"data-id" => "request_to" 
    %li
      = link_to "Pair Sessions", my_schedules_path(:anchor => "pair_sessions"),
        :"data-id" => "pair_sessions"

%section#bucket
  #receive_from.bucket
    = render :partial => "pair", :collection => @receive_from, :as => :pair
  #request_to.bucket
  #pair_sessions.bucket
